<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
     <connectionStrings>
    <!--<add name="dbconn" connectionString="Data Source=kiran;Initial Catalog=GameSnatcherz;Persist Security Info=True;User ID=sa;Password=sa123" />-->
    <!--<add name="dbconn" connectionString="Data Source=mst-sql01.clz6wxmcs3jr.ap-southeast-2.rds.amazonaws.com;Initial Catalog=DigitalGamify;Persist Security Info=True;User ID=admin;Password=Passw0rd123#"/>-->
    <add name="dbconn" connectionString="Data Source=LAPTOP-BF1V8FUV;Initial Catalog=DigitalGamify;Persist Security Info=True;User ID=sa;Password=anil" />
    <!--<add name="dbconn" connectionString="Data Source=gmiaustraliadb.c93jjclziv58.ap-southeast-2.rds.amazonaws.com;Initial Catalog=DigitalGamify;Persist Security Info=True;User ID=GmiAus;Password=^HStAg3b"/>-->
  </connectionStrings>  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Appurl" value="http://localhost:1583/" />
    <add key="AppurlApi" value="http://localhost:1583/api/" />
    <add key="AndroidSchema" value="TFS://www.gamesnatcherz.com/qr" />
    <add key="IosSchema" value="" />
    <add key="BusinessImagesPath" value="~/ApplicationFiles/business/" />
    <add key="BusinessImagesPathUrl" value="http://localhost:1583/ApplicationFiles/business/" />
    <add key="ImagesPathUrl" value="http://localhost:1583/Content/images/" />
    <add key="TravelagencyImagesPath" value="~/ApplicationFiles/travelagency/" />
    <add key="TravelagencyImagesPathUrl" value="http://localhost:1583/ApplicationFiles/travelagency/" />
    <add key="PackageImagesPath" value="~/ApplicationFiles/packages/" />
    <add key="PackageImagesPathUrl" value="http://localhost:1583/ApplicationFiles/packages/" />
    <add key="SwipeandWinImagesPath" value="~/ApplicationFiles/swipeandwin/" />
    <add key="SwipeandWinImagesPathUrl" value="http://localhost:1583/ApplicationFiles/swipeandwin/" />
    <add key="NotificationImagesPath" value="~/ApplicationFiles/notification/" />
    <add key="NotificationImagesPathUrl" value="http://localhost:1583/ApplicationFiles/notification/" />
    <add key="GooglemapApiKey" value="AIzaSyDVvZBCNufzytLMhwIpFZ09JHrK0o4UMDo" />
    <add key="AndroidPushKey" value="AAAAfRWpGeQ:APA91bF9sXBImG4FctK8vtuNEw90zruv-o8yaEwihqtddPAYpmFtORJjlWcirlw9wCVrefobMBCXGlSRZ3wuUtjer6GABv9IFYW_i4FxS64nxgs2m_-pjpJjUweeKBhezQqh0xcZYk-b" />
    <add key="IosPushRoot" value="http://localhost:1583/iospush/" />
    <add key="SendGridEmailUname" value="GMIApp" />
    <add key="SendGridEmailPassword" value="charles@1962" />
    <add key="SendGridKey" value="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" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="36000" />
    <customErrors mode="Off" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>     
    </pages>

    <authentication mode="Forms">
      <forms name="_aauth" path="/" loginUrl="/admin" slidingExpiration="true" timeout="60" />
    </authentication>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>